:root {
  --bleu-1: #3032b3; /* Bleu profond */
  --bleu-2: #136ab6; /* Bleu vif */
  --jaune-1: #FFD166; /* Jaune chaleureux */
  --blanc: #FFFFFF; /* Blanc pur */
  --gris-1: #CCCCCC; /* Gris doux */
  --ombre-fonce: rgba(0, 0, 0, 0.3); /* Ombre foncée */
  --ombre-light: rgba(255, 255, 255, 0.1); /* Ombre légère */

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  width: 100%;
  height: 100vh;
  background-color: var(--bleu-1);

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 400px;
  height: 80vh;
  background-color: var(--bleu-2);
  border-radius: 20px;
  box-shadow: 10px 10px 10px var(--shadow-dark);
}

.info-section-haut {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 50%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.info-section-bas {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 50%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 1em;
  display: flex;
  flex-direction: column;
}


.info-section-haut img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.info-meteo {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: var(--ombre-fonce);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lieu {
  color: var(--blanc);
  text-align: center;
  font-size: 1.2em;
}

.temperature {
  color: var(--blanc);
  font-size: 4em;
  text-align: center;
  font-weight: 900;
}

.plus-info-label {
  color: var(--blanc);
}

.plus-info-container {
  flex: 1;
  background-color: var(--ombre-light);
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: 1em;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.info-block {
  width: 50%;
  display: flex;
  flex-direction: row;
}

.info-block-label {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-block-label img {
  width: 1em;
}

.info-block-label span {
  color: var(--blanc);
  font-size: 0.8em;
}

.info-block-value {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--blanc);
}
